# use glob syntax.
syntax: glob

*.o
*.ali
*~
b__*.ads
b__*.adb
b~*.ads
b~*.adb

build_debug
build_production

generated

demo/openid_demo
demo/openid_demo-201?-??-??.log
demo/openid_demo.state.associations
demo/openid_demo.state.authentications
demo/aws-openid.log
