body {
  background: #fff;
  color: #000;
  text-decoration: none;
}

a:link {
  background: #fff;
  color: #036;
}

a:visited {
  background: #ffff;
  color: #800000;
}

h1 a {
  background: #ffffff;
  color: #000000;
  text-decoration: none;
}

h1 a:visited {
  background: #ffffff;
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
